
@{
    ViewData["Title"] = "Company";
}

<section class="w3l-inner-page-main">
    <div class="breadcrumb-infhny">
        <div class="container">
            <nav aria-label="breadcrumb">
                <h2 class="hny-title text-center">Company</h2>
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Company</li>
                </ol>
            </nav>
        </div>
    </div>
</section>

<div class="w3l-about1 py-5 editContent" id="about">
    <div class="container py-md-5">

        <div class="aboutgrids row">
            <div class="col-lg-8 aboutgrid1 pr-lg-5">
                <h4 class="editContent">We Started as a friend group project</h4>
                <p class="editContent mt-4">
                    Helpy was founded in 2020 by a group of college friends who wanted to create something together, because of their different major they are thinking what kinds of business they 
                    can do together that will use all of their strenghts.  
                </p>
                <p class="editContent mt-3">
                    First Client at 2020 which is the same year helpy was founded, we helped our first client face any kinds of business obstacle, because they started from scratch
                    , they face a lot of obstacles not only just in the designing and implementating but also in the financial and marketing aspect. But now after a lot of successfull client we are 
                    better than ever with almost 250+ client we are escorting our client into success.
                </p>

            </div>
            <div class="col-lg-4 aboutgrid2 mt-lg-0 mt-5">
                <img src="~/images/g4.jpg" alt="about image" class="img-fluid" />
                <img src="~/images/g5.jpg" alt="about image" class="img-fluid mt-3" />
            </div>
        </div>
    </div>
</div>
