
@{
    ViewData["Title"] = "Profile";
}

<section class="w3l-inner-page-main">
    <div class="breadcrumb-infhny">
        <div class="container">
            <nav aria-label="breadcrumb">
                <h2 class="hny-title text-center">Profile</h2>
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Profile</li>
                </ol>
            </nav>
        </div>
    </div>
</section>



<section class="w3l-wecome-content-6">
    <!-- /content-6-section -->
    <div class="ab-content-6-mian py-5">
        <div class="container py-lg-5">
            <div class="welcome-grids row">
                <div class="col-lg-6 mb-lg-0 mb-5">
                    <h3 class="hny-title">
                        Hello ..!
                        <br>Welcome to hELPY<span class="dot-1">.</span>
                    </h3>
                    <p class="my-4">
                        We are a finance and digital agency ready to help you create grow and mantain your business. Our wide range of experts is ready to solve your any kind of business problem for paperwork, branding, application, marketing, etc.   
                    </p>
                    <p class="mb-4"></p>
                    <div class="read">
                        <a href="about.html" class="read-more-btn btn">Read More</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 welcome-image">
                    <img src="~/images/ab1.jpg" class="img-fluid" alt="" />
                </div>
                <div class="col-lg-3 col-md-4 col-6 welcome-image">
                    <img src="~/images/ab2.jpg" class="img-fluid" alt="" />
                </div>
            </div>

        </div>
    </div>
</section>
<!-- //content-6-section -->


<section class="w3l-specification-6">
    <!-- /specification-6-->
    <div class="specification-6-mian">
        <div class="container-fluid">
            <div class="align-counter-6-inf-cols row">
                <div class="counter-6-inf-left2 col-lg-6">

                </div>
                <div class="counter-6-inf-right counter-6-inf-right2 col-lg-6">
                    <h3 class="hny-title">Design & Development</h3>
                    <p class="pr-lg-5">.</p>

                    <div class="calltoaction-text-info mt-lg-5 mt-4">
                        <div class="column-1">
                            <a href="#feature"><span class="fa fa-snowflake-o" aria-hidden="true"></span> Data Analytics</a>
                            <a href="#feature"><span class="fa fa-snowflake-o" aria-hidden="true"></span> Technical SEO</a>
                            <a href="#feature"><span class="fa fa-snowflake-o" aria-hidden="true"></span> Digital Marketing</a>
                        </div>
                        <div class="column-1">
                            <a href="#feature"><span class="fa fa-snowflake-o" aria-hidden="true"></span> Report Analysis</a>
                            <a href="#feature"><span class="fa fa-snowflake-o" aria-hidden="true"></span> Data Development</a>
                        </div>
                    </div>
                    <div class="buttons">
                        <a asp-area="" asp-controller="Home" asp-action="Services" class="read-more-btn btn">More Info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //specification-6-->


<section class="w3l-content-12-main">
    <!-- /content-6-section -->
    <div class="content-12 text-left py-5">
        <div class="container py-lg-5">
            <div class="content-info-tabs">
                <input id="tab1" type="radio" name="tabs" checked>
                <label class="tabtle" for="tab1">Digital Media</label>
                <input id="tab2" type="radio" name="tabs">
                <label class="tabtle" for="tab2">Web Designs</label>
                <input id="tab3" type="radio" name="tabs">
                <label class="tabtle" for="tab3">Branding</label>
                <section id="content1" class="tab-content">
                    <div class="row content12 align-items-center">
                        <div class="col-lg-6 column">
                            <h6 class="content-heading">Customized digital media solutions</h6>
                            <p class="content-para">
                              We will help you with any digital media solutions either photography videography or even graphics design our experts here is ready and happy to help you with your problems.  
                            </p>
                        </div>
                        <div class="col-lg-6 column">
                            <img src="~/images/tab1.jpg" class="img-fluid" alt="">
                        </div>

                    </div>
                </section>
                <section id="content2" class="tab-content">
                    <div class="row content12 align-items-center">
                        <div class="col-lg-6 column">
                            <h6 class="content-heading">Responsive web design experts</h6>
                            <p class="content-para">
                               Our expert web designer is ready and happy to help you with your any responsive web request and design according to your wants.
                            </p>
                        </div>
                        <div class="col-lg-6 column">
                            <img src="~/images/tab2.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </section>
                <section id="content3" class="tab-content">
                    <div class="row content12 align-items-center">
                        <div class="col-lg-6 column">
                            <h6 class="content-heading">Branding</h6>
                            <p class="content-para">
                                Our teams of brand expert is ready and happy to help you with your branding wants, we will help you make the best brand logo and philosophy. 
                            </p>
                        </div>
                        <div class="col-lg-6 column">
                            <img src="~/images/tab3.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
<!-- //content-6-section -->


<section class="w3l-content-5">
    <!-- /content-6-section -->
    <div class="content-5-main">
        <div class="container">
            <div class="content-info-in row">
                <div class="content-gd col-lg-6">
                    <h3 class="hny-title two">
                        We exist to create
                        things people love <span class="dot-1">.</span>
                    </h3>
                </div>
                <div class="content-gd col-lg-6">
                    <p>We are passionate to help you create grow and maintain your business in, we are not just any agency, we are happy to help your business to be successfull not only locally but globally .</p>                
                </div>

            </div>

        </div>
    </div>
</section>
<!-- //content-6-section -->

<script src="~/js/jquery-3.3.1.min.js"></script>
<!-- disable body scroll which navbar is in active -->
<script>
  $(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!-- disable body scroll which navbar is in active -->
<!-- //jQuery-Photo-filter-lightbox-portfolio-plugin -->
<script src="~/js/bootstrap.min.js"></script>
